

.dialogue {
			text-align:center; color:white;
		}
			
.continue {
			text-align:right
		}


.centerimage {
				display: block;
				margin-left: auto;
				margin-right: auto;
			
			
			}
		

.center {
			display: block;
			margin-left: auto;
			margin-right: 180px;
		}


@media only screen and (max-width: 600px){
		img {
			width: 100vw;
			
			margin-left:auto;
			margin-right:auto;
			
		}
					
		.continue {
			text-align: auto;
			margin-bottom: 40px;
		}
		
		
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
	
		.left {	float:left;
		}				
	}